{% extends "base.html" %}
{% load static %}
{% block nav %}
    {% if request.user.is_authenticated  %}
        <a class="nav-link" href="{% url "review:recall-create" product.pk%}">Создать отзыв</a>
    {% endif %}
    {% if request.user.is_authenticated and perms.trecker.change_project and perms.trecker.delete_project%}
        <a class="nav-link" href="{% url "review:p-update" product.pk %}">Редактировать товар</a>
        <a class="nav-link" href="{% url "review:p-delete" product.pk %}">Удалить товар</a>

    {% endif %}
{% endblock %}
{% block content %}
{#    <p>Пользователи проекта:#}
{#    {%  for user in project.users.all %}#}
{#        <h4>{{ user.username }}</h4>#}
{#    {% endfor %}#}
{#    </p>#}

    {% if product.picture %}
        <img src="{{ product.picture.url }}" class="card-img-top w-25" alt="...">
    {% else %}
        <img src="{{ static.1.jpg.url }}" class="card-img-top w-25" alt="...">
    {% endif %}
    <div class="card-body text-center">
        <h4 class="card-title">product - {{ product.name }}</h4>
    <h5>description - {{ product.description }}</h5>
    <h6>категория - {{ product.category }}</h6>

    </div>

    <p></p>
<p><h3>Отзывы по товару: {{product.name}}</h3>
    <div class="row">
        {% for product in product.recalls.all %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h3>{{ product.sms }} ({{ product.rate}})</h3>
                        <p><a href="{% url "review:recall-view" product.pk%}">Подробнее об отзыве</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</p>

<a href="{% url "review:index_view" %}">На главную товаров</a>
{% endblock %}